.projectItem {
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}
.projectItem:hover {
  color: #fdfdfd;
  background-color: black;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}
