/* Container styles */
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #282c34;
  color: #ffffff;
  font-family: "Arial", sans-serif;
  text-align: center;
}

/* Content styling */
.content {
  padding: 2rem;
}

.heading {
  font-size: 3rem;
  margin-bottom: 1rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.text {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: #cccccc;
}
.button {
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
  border: none;
  background-color: rgba(255, 255, 255, 0.622);
  transition: 0.2s ease-in-out all;
}

.button:hover {
  background-color: #61dafb;
  color: white;
  transition: 0.2s ease-in-out all;
  cursor: pointer;
}
.credits {
  position: absolute;
  width: 100vw;
  bottom: 0;
  left: 0;
  padding-bottom: 1rem;
}
.credits a {
  color: inherit;
}
/* Loader animation */
.loader {
  margin-top: 4rem;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.loader span {
  width: 15px;
  height: 15px;
  background-color: #61dafb;
  border-radius: 50%;
  animation: bounce 0.6s infinite alternate;
}

.loader span:nth-child(2) {
  animation-delay: 0.2s;
}

.loader span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes bounce {
  to {
    transform: translateY(-20px);
  }
}
