@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,700;1,400&display=swap");

:root {
  --background-color: #f2f2f2;
  --text-color: #0d0d0d;
}
html {
  overflow-x: hidden;
  min-height: 100vh;
}

body {
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--background-color);
  font-family: "Rubik", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #f2f2f2;
    --text-color: #0d0d0d;
  }
}
